img {
	float: left;
	width: 10%;
	height: 65px;
	margin-left: 70px;
	}

	#kop{
		float: left;
		width: 90%;
		text-align: center; 
		margin-left: 0px;
		height: 65px;
	}

	#kop1{
		font-size: 18px;
		font-family: Arial;
		font-weight: bold;
	}

	#alamat_kop{
		font-family: Arial;
		font-weight: normal;
		margin-left: 0px;
		margin-top: 0px;
		text-align: center;
		font-size: 9px;
	}

	#hr1, #hr3, #hr4{
		margin-top: 0px;
		margin-bottom: 0px;
	}

	#hr2{
		margin-top: 5px;
		margin-bottom: 0px;
	}

	#bawah_kop {
		text-align: center;
		font-weight: bold;
		font-size: 18px;
		/* margin-top: 10px; */
		padding-bottom: 10px;
		padding-top: 7px;
		border-left: 2px solid black;
		border-right: 2px solid black;
		border-top: 2px solid black;
	}

	table, td{
		border: 2px solid black;
		border-collapse: collapse;
		font-family: Arial;
		font-size: 12.2px;
		line-height:1.6;
	}

	td{
		padding: 3px;
  		text-align: justify;
  		vertical-align: top;
	}

	.kiri-2{
		font-family: Arial;
		font-size: 13px;
		text-align: left;
		float: left;
		line-height:1.6;
		width: 120px;
		padding-left: 10px;
		padding-right: 0px;
		margin-right: 0px;

	}

	.kanan-3{
		text-align: center;
		float: right;
		line-height:1.6;
		width: 250px;
		padding-left: 0px;
		margin-left: 0px;
		margin-right: 90px;
		margin-top: 0px;
		font-size: 12px;
		text-transform: uppercase;
	}

	.kiri-4{
		padding-left: 0px;
		padding-right: 10px;
		text-align: justify;
	}

	.kanan-4{
		font-size: 12px;
		text-align: center;
		float: right;
		line-height:1.6;
		padding-left: 260px;
		margin-left: 0px;
		text-transform: uppercase;
	}

	.kotak-1{
		padding-bottom: 10px;
		border-left: 2px solid black;
		border-right: 2px solid black;
		border-bottom: 2px solid black;
		padding:2px;
		/* padding-bottom: 10px; */
		padding-top: 20px;	
	}

	.kotak-2{
		padding-top:10px;
		border-left: 2px solid black;
		border-right: 2px solid black;
		border-top: 2px solid black;
		/* background-color: red;	 */
	}