img {
	  float: left;
	  width: 10%;
	  height: 65px;
	  margin-left: 70px;
	}

	#kop{
		float: left;
		width: 90%;
		text-align: center; 
		margin-left: 0px;
		height: 65px;
	}

	#kop1{
		font-size: 18px;
		font-family: Arial;
		font-weight: bold;
	}

	#alamat_kop{
		font-family: Arial;
		font-weight: normal;
		margin-left: 0px;
		margin-top: 0px;
		text-align: center;
		font-size: 9px;
	}

	#hr1, #hr3, #hr4{
		margin-top: 0px;
		margin-bottom: 0px;
	}

	#hr2{
		margin-top: 2px;
		margin-bottom: 0px;
	}

	#bawah_kop {
		text-align: center;
		font-weight: bold;
		font-size: 16px;
		font-family: Arial;
		/* text-decoration: underline; */
		margin-top: 25px;
		margin-bottom: 0px;
	}

	#bawah_kop2 {
		text-align: center;
		font-weight: bold;
		font-size: 13px;
		margin-top: 0px;
	}

	table, td{
		border: 1px solid black;
		border-collapse: collapse;
		font-family: Arial;
		font-size: 12px;
	}

	td{
		padding: 3px;
  		text-align: justify;
  		vertical-align: top;
	}

	.kiri-2{
		font-family: Arial;
		font-size: 13px;
		text-align: left;
		float: left;
		line-height:1.6;
		width: 120px;
		padding-left: 350px;
		padding-right: 0px;
		margin-right: 0px;
	}

	.kanan-2{
		font-family: Arial;
		font-size: 13px;
		text-align: left;
		float: right;
		line-height:1.6;
		padding-left: 0px;
		margin-left: 0px;
	}

	.kiri-3{
		font-family: Arial;
		font-size: 10px;
		text-align: left;
		float: left;
		width: 400px;
		height: 10px;
		margin-left: 30px;
	}

	.kanan-3{
		text-align: center;
		float: right;
		line-height:1.6;
		width: 250px;
		padding-left: 0px;
		margin-left: 0px;
		margin-right: 108px;
		margin-top: 10px;
		font-size: 12px;
		text-transform: uppercase;
	}

	.kanan-4{
		font-size: 12px;
		text-align: center;
		float: right;
		line-height:1.6;
		padding-left: 200px;
		margin-left: 0px;
		text-transform: uppercase;
	}

	.footer{
		border-left: 1px solid black;
		border-right: 1px solid black;
		border-bottom: 1px solid black;
	}