img {
	  float: left;
	  width: 10%;
	  height: 65px;
	  margin-left: 70px;
	  /* background-color: red; */
	}

	#kop{
		float: left;
		width: 90%;
		text-align: center; 
		margin-left: 0px;
		height: 65px;
		/* background-color: blue; */
	}

	#kop1{
		font-size: 18px;
		font-family: Arial;
		font-weight: bold;
	}

	#alamat_kop{
		font-family: Arial;
		font-weight: normal;
		margin-left: 0px;
		margin-top: 0px;
		text-align: center;
		font-size: 9px;
	}

	#hr1, #hr3, #hr4{
		margin-top: 0px;
		margin-bottom: 0px;
	}

	#hr2{
		margin-top: 2px;
		margin-bottom: 0px;
	}

	#bawah_kop {
		text-align: center;
		font-weight: bold;
		font-size: 16px;
		font-family: Arial;
		/* text-decoration: underline; */
		margin-top: 15px;
		margin-bottom: 0px;
	}

	#bawah_kop2 {
		text-align: center;
		font-weight: bold;
		font-size: 13px;
		margin-top: 0px;
	}

	#bawah_kop3 {
		text-align: center;
		font-weight: bold;
		font-size: 16px;
		font-family: Arial;
		text-decoration: underline;
		margin-top: 10px;
		margin-bottom: 0px;
	}

	.kiri{
		font-family: monospace;
		font-size: 13px;
		float: left;
		width: 20%;
		height: 30px;
	}

	.kanan{
		font-family: Arial;
		font-size: 13px;
		text-align: justify;
		float: right;
		width: 80%;
		line-height:1.6;
	}

	.kiri-2{
		font-family: Arial;
		font-size: 13px;
		text-align: left;
		float: left;
		line-height:1.6;
		width: 120px;
		padding-left: 350px;
		padding-right: 0px;
		margin-right: 0px;
	}

	.kanan-2{
		font-family: Arial;
		font-size: 13px;
		text-align: left;
		float: right;
		line-height:1.6;
		padding-left: 0px;
		margin-left: 0px;
	}

	.kiri-3{
		font-family: Arial;
		font-size: 10px;
		text-align: left;
		float: left;
		width: 400px;
		height: 10px;
	}

	.kanan-3{
		text-align: center;
		float: right;
		line-height:1.6;
		width: 250px;
		padding-left: 0px;
		margin-left: 0px;
		margin-right: 108px;
		margin-top: 10px;
		font-size: 12px;
		text-transform: uppercase;
	}

	.kanan-4{
		font-size: 12px;
		text-align: center;
		float: right;
		line-height:1.6;
		padding-left: 200px;
		margin-left: 0px;
		text-transform: uppercase;
	}