.kiri{
		font-family: monospace;
		font-size: 13px;
		float: left;
		width: 20%;
		height: 30px;
	}

	.kanan{
		font-family: sans-serif;
		font-size: 13px;
		text-align: justify;
		float: right;
		width: 80%;
		line-height:1.6;
	}

	.kiri-2{
		font-family: sans-serif;
		font-size: 13px;
		text-align: left;
		float: left;
		line-height:1.2;
		width: 130px;
		padding-left: 350px;
		padding-right: 0px;
		margin-right: 0px;
		text-align: justify;
	}

	.kanan-2{
		font-family: sans-serif;
		font-size: 13px;
		text-align: left;
		float: right;
		line-height:1.2;
		padding-left: 0px;
		margin-left: 0px;
	}

	.hidden{
		visibility: hidden;
	}

	.kanan-3{
		text-align: center;
		float: right;
		line-height:1.2;
		width: 250px;
		padding-left: 0px;
		margin-left: 0px;
		margin-right: 40px;
		margin-top: 10px;
		font-size: 12px;
	}

	.kanan-3-2{
		text-align: center;
		float: left;
		line-height:1.2;
		width: 250px;
		padding-left: 35px;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 10px;
		font-size: 12px;
	}

	.kanan-4{
		font-size: 12px;
		text-align: center;
		float: right;
		line-height:1.2;
		padding-left: 340px;
		margin-left: 0px;
	}

	.kanan-4-2{
		font-size: 12px;
		text-align: center;
		float: right;
		line-height:1.6;
		padding-left: 340px;
		margin-left: 0px;
	}

	.kanan-4-3{
		font-family: sans-serif;
		font-size: 13px;
		text-align: left;
		float: left;
		line-height:1.2;
		width: 130px;
		padding-left: 350px;
		padding-right: 0px;
		margin-right: 0px;
	}

	.kotak-kiri-1{
		float: left;
		width: 45.3%;
		height: 170px;
		padding: 10px;
		margin: 0px;
		border-left: 1px solid black;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
	}

	.kotak-kanan-1{
		float: right;
		width: 48.3%;
		padding: 10px;
		margin: 0px;
		border: 1px solid black;
	}

	.kotak-kiri-2{
		float: left;
		width: 45.3%;
		height: 120px;
		padding: 10px;
		margin: 0px;
		border-left: 1px solid black;
		border-bottom: 1px solid black;
	}

	.kotak-kanan-2{
		float: right;
		width: 48.3%;
		padding: 10px;
		margin: 0px;
		border-left: 1px solid black;
		border-right: 1px solid black;
		border-bottom: 1px solid black;
	}

	.kotak-kanan-3{
		font-family: sans-serif;
		font-size: 13px;
		float: left;
		width: 100%;
		padding: 5px;
		margin: 0px;
		text-align: justify;
		border-left: 1px solid black;
		border-right: 1px solid black;
		border-bottom: 1px solid black;
	}